/* Add your CSS to this file */
body
{
    margin: 0;
    font-size: 16px;
}

.container
{
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

*
{
    margin: 0;
    padding: 0;
}

a
{
    color: #6b7280;
    text-decoration: none;
}

a:hover
{
    color: #5A67D8;
}

p
{
    margin-top: 1em;
}

html
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

img
{
    width: 40px;
}

header
{
    background-color: white;
    padding: 20px 0;
}

header, header h1
{
    font-size: 18px;
}

header .container, .testing .container, .stories article
{
    display: flex;
    justify-content: space-between;
}

header nav ul
{
    list-style: none;
    display: flex;
    gap: 20px;
}

.overview-hero
{
    background-color: #E2E8F0;
}

.overview-hero .container
{
    display: flex;
    align-items: center;
    padding: 40px 0;
    justify-content: space-around;
}

.overview-hero-image
{
    width: 20%;
}

.overview-hero-image img
{
    width: 100%;
}

.overview-hero-text
{
    width: 40%;
}

.learn-about
{
    padding: 30px 0;
}

.learn-about h2
{
    font-size: 24px;
    color: #48BB78
}

.cards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 2em;
}

.card
{
    border: 1px solid #E2E8F0;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

.card img
{
    height: 200px;
    width: auto;
    margin: 0 auto;
}

.card h3
{
    font-size: 21px;
    color: #48BB78
}

.card-body
{
    padding: 0.9em;
    box-sizing: border-box;
}

.testing
{
    color: white;
    background-color: #4A5568;
    padding: 100px 0;
}

.testing .container
{
    align-items: center;
}

.testing a
{
    display: block;
    width: 100px;

    color: white;
    background-color: #48BB78;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 14px 25px;

    margin: 0 120px;
}

.stories
{
    padding: 100px 0;
}

.stories article
{
    margin-top: 40px;
}

.stories h2, .stories a
{
    color: #5A67D8
}

.stories h3
{
    font-size: 18px;
}

.stories img
{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-right: 40px;
}

.newsletter
{
    color: white;
    background-color: #48BB78;
    padding: 60px 0;
}

.newsletter button
{
    background-color: #5A67D8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0 35px;
}

.newsletter p
{
    width: 450px;
}

.newsletter .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter h3
{
    text-align: center;
}

.newsletter form
{
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

form input
{
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-right: 8px;
    padding: 0 1.2em;
    box-sizing: border-box;
}

footer
{
    color: white;
    background-color: #4A5568;
    padding: 30px 0;
}

footer p
{
    margin: 0;
}