/* Add your CSS to this file */
body
{
    margin: 0;
    font-size: 16px;
}

.container
{
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

*
{
    margin: 0;
    padding: 0;
}

a
{
    color: #6b7280;
    text-decoration: none;
}

a:hover
{
    color: #5A67D8;
}

html
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

img
{
    width: 40px;
}

header
{
    background-color: white;
    padding: 20px 0;
}

header, header h1
{
    font-size: 18px;
}

header .container, .testing .container, .stories article
{
    display: flex;
    justify-content: space-between;
}

header nav ul
{
    list-style: none;
    display: flex;
    gap: 20px;
}

.overview-hero
{
    background-color: #E2E8F0;
}

.overview-hero .container
{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
}

.learn-about h2
{
    font-size: 24px;
    color: #48BB78
}

.cards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card
{
    border: 1px solid #E2E8F0;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.card h3
{
    font-size: 21px;
    color: #48BB78
}

.testing
{
    color: white;
    background-color: #4A5568;
}

.testing a
{
    color: white;
    background-color: #48BB78;
    border-radius: 5px;
}

.stories h2, .stories a
{
    color: #5A67D8
}

.stories h3
{
    font-size: 18px;
}

.stories img
{
    border-radius: 50%;
}

.newsletter
{
    color: white;
    background-color: #48BB78;
}

.newsletter button
{
    background-color: #5A67D8;
}

.newsletter .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter h3
{
    text-align: center;
}

.newsletter form
{
    display: flex;
    justify-content: center;
}

footer
{
    color: white;
    background-color: #4A5568;
}